@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 


.banner-area{
    background-image: url(./pictures/fatima-akram-uU0Anw-8Vsg-unsplash.jpg);
    background-size: cover;
    height: 80vh;
}



.pizza-language{
    border-style: solid;
    width:30%
}
.pizza-language{
    padding: .5em;
    border-radius: 4px;
    border-color: rgb(177, 117, 117);
    background-color: salmon;
}
.pizza-language h4 p{
    font-size: 18px;
}
.pizza-language h4{
    text-align: center;
    text-transform: capitalize;
}
.pizza-language p{
    text-align: center;
    
}